# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\YT-Django-Heroku-Project-Deployment-X1Tp6DSF3ng-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
